h1 {
    color: white;
    text-align: center;
}


body {
    // background-color: rgb(32, 140, 32);
    background-color: rgb(30, 255, 0);
}

img { 
    width: 100px;
    height: 150px;
    position: relative;
}

.gameSpace {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 85vh;
    border: 5px solid black;
    padding: 10px;

    #topArea {
        display: flex;
        height: auto;

        #foundations {
            display: flex;
            margin-left: auto;
        }
    }
    #mainArea {
        height: auto;

        #tableaux {
            display: flex;
            justify-content: space-around;
            margin-left: 50px;
            margin-right: 50px;

            // justify-content: space-evenly;
        }
        ul {
            list-style: none;
            padding: 0px;
          
            // width: 100px;
            
            li {
                display: flex;
                float: left;
                flex-direction: column;

                img {
                    margin-bottom: -125px;
                }
            }
        
        #tableaux {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 50px;
            margin-right: 50px;
        }
        }
    }

    img {
        padding: 5px;
    }
}

